name: profi
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  device_preview: ^1.3.1
  supabase_flutter: ^2.12.0
  flutter_dotenv: ^6.0.0
  image_picker: ^1.2.1
  flutter_image_compress: ^2.4.0
  image: ^4.7.2
  permission_handler: ^12.0.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
